.import-export {
    width: 165px;
    margin-top: 16px;
    margin-right: 10px;
}

.imports {
    display: flex;
    flex-direction: column;
}

.exports {
    display: flex;
    flex-direction: column;
}